<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <H1>Submit PetFax!</H1>
        <h2>Please share any interesting facts about your pets!</h2>
        <div >
            <form>
                <label for="name"><H2>Name</H2></label>
                <input name="name" type="text">
                <br/>
                <label for="fact"><H2>Fact or something cool about your pet!</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Fact">
            </form>
        </div>
        <a href="/pets">⟨Back</a>
    </div>
</body>

</html>